@charset "utf-8";
@import url(reset.css);
@import url(fonts.css);
@import url(layout.css);
@import url(components.css);
@import url(login.css);
@import url(helper.css);



/* guide */
.side_menu_wrap{
    position: fixed;
    z-index: 90;
    top: 0;
    width: 100vw;
    height: 40px;
    padding: 0 20px;
    background-color: #e6e6e6;
}
.side_menu_wrap > ul{
    display: flex;
    flex-direction: row;
}
.side_menu_wrap > ul > li{
    padding: 0 15px;
}
.side_menu_wrap > ul > li > a{
    line-height: 40px;
    font-size: 18px;
    text-decoration: underline;
}
.hashTagArea{
    margin-top: 40px;
}
