@charset "utf-8";

html{overflow-x: hidden;}
body{overflow-x: hidden;}

.scrollLock{overflow: hidden;}

/* wrap */
.wrap{position: relative; width: 100%;}
.wrap.sys_bg{display: flex; flex-direction: column; background-color: #dddddd; min-height: 100vh;}



/* header */
.wrap.sys_bg .header + .container{margin-top: 5px;}
.header{display: flex; flex-direction: column;}

.header .top{display: flex; align-items: center; justify-content: space-between; width: 100%; height: 35px; padding-left: 15px; padding-right: 15px; box-sizing: border-box;}
.header .logo{height: 22px; display: flex; align-items: baseline; flex-wrap: wrap; gap: 0 8px;}
.header .logo img{height: 22px;}
.header .logo p{color: #262626; font-size: 14px; font-weight: 500; white-space: nowrap;}

.header .nav + .util_area{margin-left: 15px;}
.header .util_area{display: flex; align-items: center;}
.header .util_area .lang_change > ul{display: flex; align-items: flex-start; justify-content: flex-start; flex-wrap: nowrap;}
.header .util_area .lang_change > ul li{color: #262626; white-space: nowrap;}
.header .util_area .lang_change > ul li+li:before{color: #9e9e9e; content: "|"; }
.header .util_area .lang_change > ul li a{padding: 0 4px; font-size: 14px;}

.header .util_area .lang_change + .btn_area{margin-left: 8px;}
.header .util_area .btn_area{position: relative; display: flex;}



/* nav */
.header .nav{display: flex; justify-content: space-between; align-items: center; width: calc(100% - 10px); margin-left: 5px; margin-right: 5px; background-color: #353535; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.nav .gnbArea{position: relative; display: flex; flex-direction: column; width: 100%; padding-left: 20px; padding-right: 20px; box-sizing: border-box;}
.nav .gnbArea .mainmenu{position: relative; display: flex; align-items: center; width: 100%; height: 40px; box-sizing: border-box;}

.nav .gnbArea .btn_nav_prev{position: absolute; z-index: 90; left: 13px; top: 11px; display: inline-block; width: 16px; height: 16px; background:url("../icon/btn_paging_prev_black.svg") #fff no-repeat center center; border: 0; border-radius: 8px; background-size: 20px;}
.nav .gnbArea .btn_nav_next{position: absolute; z-index: 90; right: 13px; top: 11px; display: inline-block; width: 16px; height: 16px; background:url("../icon/btn_paging_next_black.svg") #fff no-repeat center center; border: 0; border-radius: 8px; background-size: 20px;}

.nav .gnbArea .mainmenu .mainlist{display: flex; align-items: center; overflow-x: auto; overflow-y: visible; -ms-overflow-style: none;}
.nav .gnbArea .mainmenu .mainlist::-webkit-scrollbar{display:none;}

.nav .gnbArea .mainmenu .mainlist li a{display: flex; align-items: center; height: 40px; padding: 0 20px; white-space: nowrap; color: #fff; font-size: 14px; font-weight: 500; letter-spacing: -0.5px;}
.nav .gnbArea .mainmenu .mainlist li a.active{color: #876847; background-color: #fff; font-weight: 600;}
.nav .gnbArea .mainmenu .mainlist li.mmenu_item.active a.mlink{color: #876847; background-color: #fff; font-weight: 600;}

.nav .gnbArea .mainmenu .mainlist li .smenu{display: none; position: absolute; z-index: 900; min-width: 110px; min-height: 40px; background-color: #353535; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.nav .gnbArea .mainmenu .mainlist li .smenu > li > .slink{height: 35px; padding: 0 10px; white-space: nowrap; color: #f8f1ea; font-size: 14px;}
.nav .gnbArea .mainmenu .mainlist li .smenu > li > .slink:hover{color: #ddcebf; text-decoration: underline; text-underline-offset: 2px;}

/* 메뉴 많아질때 스크롤 생김 */
.nav.menuover .gnbArea{padding-left: 40px; padding-right: 40px;}
.nav.menuover .gnbArea .mainmenu .mainlist li a{padding: 0 17px;}



/* 서브메뉴 */
.header .lnb{width: calc(100% - 10px);  margin-left: 5px; margin-right: 5px; margin-bottom: 5px; background-color: #fff; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.lnb .lnb_wrap{position: relative; padding-left: 20px; padding-right: 20px; box-sizing: border-box;}
.lnb .lnb_wrap .lnb_gr_list{display: flex; height: 28px; overflow-x: auto; overflow-y: hidden; -ms-overflow-style: none;}
.lnb .lnb_wrap .lnb_gr_list::-webkit-scrollbar{display:none;}
.lnb .lnb_wrap .lnb_gr_list .lnb_gr_item{display: none;}
.lnb .lnb_wrap .lnb_gr_list .lnb_gr_item.active{display: flex;}

.lnb .lnb_wrap .lnb_gr_list .lnb_gr_item .lnb_list{display: flex; flex-wrap: nowrap; align-items: center; }
.lnb .lnb_wrap .lnb_gr_list .lnb_gr_item .lnb_list .lnb_item{display: flex;}
.lnb .lnb_wrap .lnb_gr_list .lnb_gr_item .lnb_list .lnb_item + .lnb_item{margin-left: 10px;}
.lnb .lnb_wrap .lnb_gr_list .lnb_gr_item .lnblink{display: flex; width: max-content; height: 30px; line-height: 30px; color: #876847; font-size: 14px;}

.lnb.lnbover .lnb_wrap{padding-left: 30px; padding-right: 30px;}

.lnb .lnb_wrap .btn_lnb_prev{position: absolute; z-index: 90; left: 8px; top: 6px; display: inline-block; width: 16px; height: 16px; background:url("../icon/btn_paging_prev_black.svg") #dadada no-repeat center center; border: 0; border-radius: 8px; background-size: 20px;}
.lnb .lnb_wrap .btn_lnb_next{position: absolute; z-index: 90; right: 8px; top: 6px; display: inline-block; width: 16px; height: 16px; background:url("../icon/btn_paging_next_black.svg") #dadada no-repeat center center; border: 0; border-radius: 8px; background-size: 20px;}



/* 헤더 탭 영역 */
.wrap.sys_bg .tab_box{display: flex; align-items: center; justify-content: space-between; width: calc(100% - 10px); min-height: 32px; margin-left: 5px; margin-right: 5px; border-radius: 5px; background-color: #f3f3f3; box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.2); box-sizing: border-box;}
.tab_box .tab_wrap{position: relative; display: flex; align-items: center; width: 100%; padding-left: 15px; padding-right: 15px; box-sizing: border-box;}

.tab_wrap .sub_home_btn_area{display: flex; align-items: center; gap: 5px;}

.tab_wrap.tabover .tablist{margin-left: 30px; margin-right: 30px; box-sizing: border-box;}
.tab_wrap .tablist{display: flex; padding-left: 10px; gap: 7px; overflow-x: auto; overflow-y: hidden; -ms-overflow-style: none;}
.tab_wrap .tablist::-webkit-scrollbar{display:none;}
.tab_wrap .tablist > li{display: flex; gap: 2px; padding-right: 3px; border: 1px solid #ccc; border-radius: 3px; background-color: #fff;}
.tab_wrap .tablist > li.active{border: 1px solid #ccc; background-color: #ddd;}
.tab_wrap .tablist > li.tab_item{display: none; align-items: center; height: 22px; box-sizing: border-box;}
.tab_wrap .tablist > li.tab_item.visible{display: flex;}
.tab_wrap .tablist > li.tab_item a.tlink{padding: 0px 5px; font-size: 14px; color: #565656; white-space: nowrap; line-height: 20px; box-sizing: border-box;}
.tab_wrap .tablist > li.tab_item.active .tlink{color: #000; font-weight: 500;}

.tab_box .tab_wrap .btn_area{flex: 1; display: flex; justify-content: flex-end; margin-left: auto;}

.tab_wrap .btn_tab_prev{position: absolute; z-index: 90; left: 41px; top: 4px; display: inline-block; width: 16px; height: 16px; background:url("../icon/btn_paging_prev_black.svg") #afafaf no-repeat center center; border: 0; border-radius: 8px; background-size: 20px;}
.tab_wrap .btn_tab_next{position: absolute; z-index: 90; right: 97px; top: 4px; display: inline-block; width: 16px; height: 16px; background:url("../icon/btn_paging_next_black.svg") #afafaf no-repeat center center; border: 0; border-radius: 8px; background-size: 20px;}



/* page layout */
.wrap.sys_bg .container{display: flex; justify-content: space-between; margin-left: 5px; margin-right: 5px; margin-bottom: 5px; border-radius: 5px; background-color: #fff; box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.2);}

.container > .content{height: calc(100vh - 150px); overflow-y: auto;}
.content{display: flex; flex-direction: column; width: 100%; height: 100%; padding-left: 20px; padding-right: 20px; padding-bottom: 20px; box-sizing: border-box;}
.page_frame .content{width: 100%; height: 100%;}

.content .title_box{display: flex; align-items: center; justify-content: space-between; width: 100%; min-height: 55px; background-color: #fff; border-bottom: 1px solid #ddd; box-sizing: border-box;}
.content .search_box{position: relative; width: 100%; background-color: #fff; border-radius: 6px; box-sizing: border-box;}
.content .contents_box{width: 100%; background-color: #fff;}

.page_frame{display: none; width: 100%; height: calc(100vh - 150px); overflow-y: auto;}
.page_frame.active{display: block;}



/* 페이지 제목 영역  */
.content .title_box .title{display: flex; align-items: center; white-space: nowrap;}
.content .title_box .title .tit_icon{display: flex; align-items: center; font-size: 0px; color: #18ab94; width: 18px; height: 18px; background-color: #18ab94; border-radius: 50%; box-sizing: border-box;}
.content .title_box .title .tit_icon + .tit_txt{margin-left: 4px;}
.content .title_box .title .tit_txt{font-size: 20px; font-weight: 600; color: #262626; color: #18ab94;}
.content .title_box .title .line{font-size: 18px; color: #a3a3a3; margin-left: 6px; margin-right: 4px;}
.content .title_box .title .tit_desc{font-size: 14px; color: #727272;}
.content .title_box .right_area{display: flex; align-items: center;}



/* 검색 조건 */
.content .title_box + .search_box{margin-top: 20px;}
.search_item_wrap{display: flex; flex-wrap: wrap; gap: 8px 0px; width: 100%;}
.search_item_wrap .inp_group{min-width: calc(100% / 4 ); padding-right: 20px; box-sizing: border-box;}
.search_item_wrap .inp_group.whalf{min-width: calc(100% / 2);}
.search_item_wrap .inp_group.wfull{width: 100%;}
.search_item_wrap .inp_item.inp_group label{min-width: 56px;}
.search_item_wrap .inp_item.inp_group.txt4 label{min-width: 71px;}
.search_item_wrap .inp_item.inp_group.txt5 label{min-width: 78px;}
.search_item_wrap .inp_item.inp_group.txt6 label{min-width: 103px;}

.search_item_wrap .inp_group .inpWrap{display: flex; align-items: center;}
.search_item_wrap .inp_group .inpWrap input[type="text"], input[type="password"]{height: 30px;}
.search_item_wrap .inp_group .inpWrap input + input{margin-left: 10px;}
.search_item_wrap .inp_group .inpWrap .btn_icon_seacrh{margin-left: 6px; margin-right: 6px;}
.search_item_wrap .inp_group .selWrap .selected .selectedValue{width: 120px; height: 30px;}
.search_item_wrap .inp_group .selWrap.active ul.optBox{padding-top: 10px; padding-bottom: 10px; top: 30px;}
.search_box .search_btn_area{position: absolute; right: 0px; bottom: 0px;}



/* 콘텐츠 영역 */
.content .title_box + .contents_box{margin-top: 20px;}
.content .search_box + .contents_box{margin-top: 20px; padding-top: 20px; border-top: 1px solid #ddd;}
.content .contents_box + .contents_box{margin-top: 20px; padding-top: 20px; border-top: 1px solid #ddd;}

.content .contents_box + .col_cont_box_wrap{margin-top: 20px; padding-top: 20px; border-top: 1px solid #ddd;}
.content .col_cont_box_wrap{display: flex; gap: 20px;}
.content .col_cont_box_wrap .contents_box + .contents_box{margin-top: 0; padding-top: 0; border: 0;}

.contents_box .title_area{display: flex; align-items: center; justify-content: space-between;}
.contents_box .title_area .title{display:flex; align-items: center;}
.contents_box .title_area .title .tit_icon{font-size: 10px; color: #716F64;}
.contents_box .title_area .title .tit_icon + .tit_txt{margin-left: 4px;}
.contents_box .title_area .title .tit_txt{font-size: 16px; font-weight: 600; color: #474747;}

.contents_box .btn_area{display: flex; gap: 6px;}

.contents_box .title_area + .grid_wrap{margin-top: 15px;}
.contents_box .grid_wrap{width: 100%;}

.contents_box .cont_group + .cont_group{margin-top: 20px; padding-top: 20px; border-top: 1px solid #ddd;}
.contents_box .cont_group{width: 100%; }
.contents_box .cont_group .title_area + .search_item_wrap{margin-top: 15px;}
.contents_box .cont_group .search_item_wrap + .grid_wrap{margin-top: 20px;}

.contents_box .grid_paging_wrap{display: flex; align-items: center;}
.contents_box .grid_paging_wrap .selWrap + .paging_num_area{margin-left: 8px;}
.contents_box .grid_paging_wrap .paging_num_area{display: flex; font-size: 15px;}
.paging_num_area .current_page span{color: #86868b;}
.paging_num_area .current_page + .total_page{margin-left: 6px;}
.paging_num_area .total_page span{color: #86868b;}



/* 컴퍼니 페이지 */
.content .title_box + .contents_box.type_company{margin-top: 20px;}
.contents_box.type_company{margin-top: 20px;}
.content .contents_box.type_company{display: flex; align-items: center; justify-content: center; gap: 0 40px; padding-bottom: 45px; min-height: 515px; height: calc(100vh - 140px); background-color: #e7e7e7; background-image: url('../images/company_bg.jpg'); background-position: right bottom; background-repeat: no-repeat; box-sizing: border-box;}
@media (min-width: 1920px) {
  .content .contents_box.type_company{gap: 0 90px; padding-bottom: 45px;}
}
.content .contents_box.type_company .earth_img{width: 420px; height: 420px; margin-top: auto; margin-bottom: auto; background: url('../images/company_earth.jpg') no-repeat center; background-size: contain;}
@media (min-width: 1610px) {
  .content .contents_box.type_company .earth_img{width: 540px; height: 540px;}
}
@media (min-width: 1920px) {
  .content .contents_box.type_company .earth_img{width: 610px; height: 610px;}
}
.content .contents_box.type_company .contents_wrap{display: flex; flex-direction: column;}
@media (min-width: 1920px) {
  .content .contents_box.type_company .contents_wrap{margin-bottom: 20px;}
}
.contents_box.type_company .cont_group + .cont_group{margin-top: 14px; padding-top: 0px; border-top: 0px solid #ddd;}
@media (min-width: 1920px) {
  .contents_box.type_company .cont_group + .cont_group{margin-top: 18px;}
}
.contents_box.type_company .cont_group{display: flex; align-items: flex-start; padding-bottom: 14px; max-width: 630px;}
@media (min-width: 1920px) {
  .contents_box.type_company .cont_group{padding-bottom: 18px; max-width: 880px;}
}
.contents_box.type_company .cont_group .title_area{width: 20%;}
.contents_box.type_company .title_area .title .tit_icon{display: flex; align-items: center; font-size: 0px; color: #18ab94; width: 16px; height: 16px; background-color: #e7e7e7; border: 5px inset #18ab94; border-radius: 50%; box-sizing: border-box;}
.contents_box.type_company .title_area .title .tit_txt{font-size: 24px; font-weight: 600; color: #18ab94;}
@media (min-width: 1610px) {
  .contents_box.type_company .title_area .title .tit_txt{font-size: 26px; line-height: 1.3;}
}
@media (min-width: 1920px) {
  .contents_box.type_company .title_area .title .tit_txt{font-size: 28px; line-height: 1.3;}
}

.contents_box.type_company .cont_group .content_area{width: 78%; margin-left: 2%;}
@media (min-width: 1920px) {
  .contents_box.type_company .cont_group .content_area{width: 80%; margin-left: 0%;}
}
.contents_box.type_company .cont_group .content_area .desc_con + .bgtit{margin-top: 8px;}
@media (min-width: 1920px) {
  .contents_box.type_company .cont_group .content_area .desc_con + .bgtit{margin-top: 12px;}
}
.contents_box.type_company .cont_group .content_area .desc_con + .tit_con{margin-top: 8px;}
@media (min-width: 1920px) {
  .contents_box.type_company .cont_group .content_area .desc_con + .tit_con{margin-top: 12px;}
}
.contents_box.type_company .cont_group .content_area .bgtit + .tit_con{margin-top: 8px;}
@media (min-width: 1920px) {
  .contents_box.type_company .cont_group .content_area .bgtit + .tit_con{margin-top: 12px;}
}
.contents_box.type_company .cont_group .content_area .desc_con{font-size: 19px; line-height: 1.25; color: #474747;}
@media (min-width: 1920px) {
  .contents_box.type_company .cont_group .content_area .desc_con{font-size: 22px; line-height: 1.3;}
}
.contents_box.type_company .cont_group .content_area .bgtit{display: inline-block; min-width: 210px; padding: 11px; text-align: center; color: #fff; font-size: 20px; background-color: #80c5b9; border-radius: 18px;}
.contents_box.type_company .cont_group .content_area .tit_con{font-size: 21px; color: #18ab94;}
@media (min-width: 1920px) {
  .contents_box.type_company .cont_group .content_area .tit_con{font-size: 23px;}
}