@charset "utf-8";

.login_layout{width: 100%; display: flex; min-height: 100vh; background: linear-gradient(90deg, #18ab94 0%, #0bb49b 35%);}

.login_layout .aside{position: relative; width: 40%;}
.asideBox{position: absolute; top: 50%; left: 50%; width: 410px; transform: translate(-50%, -50%);}
.asidetxt{font-size: 36px; line-height: 1.4; text-transform: uppercase;}
.asideBox .asidetxt + .imgBox{margin-top: 50px;}

.login_layout .loginArea{position: relative; background-color: #fff; flex: 1; border-top-left-radius: 75px; border-bottom-left-radius: 75px;}

.loginBox{position: absolute; top: 50%; left: 50%; width: 480px; transform: translate(-50%, -50%);}

.loginBox .title{font-size: 32px;}
.loginBox .title + .inpWrap{margin-top: 50px;}
.loginBox .inpWrap + .inpWrap{margin-top: 10px;}
.loginBox .inpWrap + .btnWrap{margin-top: 50px;}


.login_bg {min-height: 100vh; background-color: #ece8df;}
.loginArea{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 600px; height: 340px;}

.title_box{position: absolute; z-index: 1; left: 0; top: 0; width: 440px; height: 300px; padding-left: 81px; padding-top: 97px; border-radius: 30px; box-shadow: 2px 10px 29px 2px rgba(117, 117, 117, 0.3); background: url('../images/login_img.png') no-repeat center center; box-sizing: border-box;}
.loginArea .title_box .title{color: #ffffff; text-transform: uppercase; font-size: 62px; opacity: 0;}
.loginArea .title_box .logo{width: 100px; padding-top: 2px; opacity: 0;}

.login_box{position: absolute; z-index: 200; left: 290px; top: 32px; display: flex; justify-content: center; width: 310px; height: 306px; background: linear-gradient(180deg, #191919 0%, #000000 100%); border-radius: 30px; box-shadow: 2px 10px 29px 2px rgba(117, 117, 117, 0.3);}

.login_box .selWrap{margin-top: 35px;}
.login_box .selWrap .selected .selectedValue{width: 130px; height: 40px; padding: 0 40px 0 16px; background: transparent; border: 1px solid rgba(255, 255, 255, 0.3); border-radius: 20px;}
.login_box .selWrap .selected .selectedValue p{font-size: 12px; color: #ffffff; opacity: 0.5;}
.login_box .selWrap .selected .selectedValue p.selected{color: #ffffff; opacity: 0.5;}
.login_box .selWrap ul.optBox{top: 41px; padding-top: 5px; padding-bottom: 5px;}

.login_box .selWrap + .inpWrap{margin-top: 31px;}
.login_box .inpWrap{width: 130px;}
.login_box .inpWrap + .inpWrap{margin-top: 5px;}
.login_box .inpWrap input{border-radius: 20px; height: 40px; font-size: 12px; color: #fff; opacity: 0.5; background: transparent; border: 1px solid rgba(255, 255, 255, 0.6);}
.login_box .inpWrap input::placeholder {font-size: 12px;}

.login_box .inpWrap + .btnWrap{margin-top: 14px;}
.login_box .btnWrap{width: 130px;}
.login_box .btnWrap .btnType{width: 130px; border-radius: 20px;}

.login_box .btnWrap + .chkWrap{margin-top: 10px;}

.loginArea .white_line{position: absolute; z-index: 300; left: 232px; top: 122px; width: 273px; height: 1px; background-color: #fff; opacity: 0.2;}